<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="IDLE (Python IDE)">
                <action name="Execute">
                    <execute>idle</execute>
                </action>
            </item>
            <item label="Python">
                <action name="Execute">
                    <execute>alacritty -e python</execute>
                </action>
            </item>
            <item label="Nano">
                <action name="Execute">
                    <execute>alacritty -e nano</execute>
                </action>
            </item>
            <item label="Text Editor">
                <action name="Execute">
                    <execute>xed</execute>
                </action>
            </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="10" label="Arcade">
                <item label="pacman">
                    <action name="Execute">
                        <execute>alacritty -e pacman --version</execute>
                    </action>
                </item>
            </menu>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="VLC media player">
                <action name="Execute">
                    <execute>vlc</execute>
                </action>
            </item>
            <item label="Eye of Gnome">
                <action name="Execute">
                    <execute>eog</execute>
                </action>
            </item>
        </menu>
        <menu id="5" label="Network">
            <item label="FireFox">
                <action name="Execute">
                    <execute>firefox</execute>
                </action>
            </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty">
                <action name="Execute">
                    <execute>alacritty</execute>
                </action>
            </item>
            <item label="Thunar File Manager">
                <action name="Execute">
                    <execute>thunar</execute>
                </action>
            </item>
            <item label="UXTerm">
                <action name="Execute">
                    <execute>uxterm</execute>
                </action>
            </item>
            <item label="Xterm">
                <action name="Execute">
                    <execute>xterm</execute>
                </action>
            </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Customize Look and Feel">
                    <action name="Execute">
                        <execute>lxappearance</execute>
                    </action>
                </item>
                <item label="Openbox Settings">
                    <action name="Execute">
                        <execute>obconf-qt</execute>
                    </action>
                </item>
                <item label="Thunar Preferences">
                    <action name="Execute">
                        <execute>thunar-settings</execute>
                    </action>
                </item>
                <item label="Tint2 Settings">
                    <action name="Execute">
                        <execute>tint2conf</execute>
                    </action>
                </item>
            </menu>
            <item label="Avahi Zeroconf Browser">
                <action name="Execute">
                    <execute>avahi-discover</execute>
                </action>
            </item>
            <item label="Htop">
                <action name="Execute">
                    <execute>alacritty -e htop</execute>
                </action>
            </item>
            <item label="pstree">
                <action name="Execute">
                    <execute>alacritty -e /usr/bin/pstree.x11</execute>
                </action>
            </item>
            <item label="Top">
                <action name="Execute">
                    <execute>alacritty -e top</execute>
                </action>
            </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce">
                <action name="Execute">
                    <execute>xfce4-about</execute>
                </action>
            </item>
            <item label="Info">
                <action name="Execute">
                    <execute>alacritty -e info</execute>
                </action>
            </item>
            <item label="Xclipboard">
                <action name="Execute">
                    <execute>xclipboard</execute>
                </action>
            </item>
            <item label="Xcutsel">
                <action name="Execute">
                    <execute>xcutsel</execute>
                </action>
            </item>
        </menu>
        <separator />
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu" />
            <item label="Reconfigure">
                <action name="Reconfigure" />
            </item>
            <separator />
            <item label="Exit">
                <action name="Exit" />
            </item>
        </menu>
    </menu>
</openbox_menu>